.App {
  background: #fff;
  margin: 50px;
}

.task-form {
  display: flex;
  margin-bottom: 40px;
}

.task {
  border: 2px solid #ccc;
  margin-bottom: 30px;
  padding: 15px;
}

.task p {
  margin: 0;
}

.task button {
  float: right;
  background: red;
  border: none;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  font-size: 20px;
  color: #fff;

}



.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


